<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Para efetuar o cadastro de um novo colaborador, clique no botão abaixo para acessar o formulário.</p>
    <p id="botaoNovoCadastro">Efetuar novo cadastro</p>
    <p>Para acessar a lista de colaboradores cadastrados, clique <a href="/colaboradores">aqui</a></p>
  </body>
</html>
